
.img-responsive .text-align{
  margin: 0 auto;
}

.body{
background-color: whitesmoke;
}

#teste {
  width: 85%;
}

hr{
	border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}


/* .title{
  margin: 0;
	font-size: 36px;
  line-height: normal;
	display: block;
  font-family:'comic-sans';
} */